<img class='icon' src="images/cat-1.gif" alt="cat-1" width="56" height="49" />
<h3>
  <a href="#">5th of May 2010 Local tournament starts in Olomouc come to see the matches!</a></h3>
  <p>Lore  m ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris odio, gravida non mollis ac, sagis non ipsum. Vesbulum pharetra est at.</p>
<a class='more' href='#'>read more</a>
