body { background-color: white; }

input#user_openid_identifier, input#user_session_openid_identifier {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: white;
  color: black;
  background-position: 0 50%;
  padding-left: 18px;
} 