<% main_div_class('photogalleries') %>

<% link_to public_albums_path do -%>
  <h2 id="h2-photogallery"  class='header'><span>photogallery</span></h2>
<% end -%>

<div class='info'></div>

<%= render :partial => "public/localize" %>

<div class='photogallerySet'>
  <% @years.keys.sort.reverse.each do |year| -%>
   <div class='year'>
     <%= year %>
   </div>
   <%= render_photos(@years[year],'album') %>
   <div class='cb'></div>
  <% end -%>
</div>

<div class='cb'></div>
