<% form_for @user_session do |form| %>  
<ol>
   <li>  
     <%= hidden_field_tag 'user_session[openid_identifier]', User::GOOGLE_OPENID_ENDPOINT %>
     <%= form.submit 'Login with Google' %>
   </li>  
</ol>
<% end -%>
