<div id="footer">
  <% if facebook -%>

  <div id="facebook">
    <%= render :partial => "public/facebook_fan" %>
  </div>

  <div id="newsletter_box">
    <a href="/play-with-us/newsletter">
      <img alt="Electronic Newsletter" src="/images/submenu/newsletter.png">
    </a>
  </div>

  <% end -%>
  <div id="info">Produced with the assistance of the European Union. 
    The contents of this website are the sole responsibility of the "Football for Development" 
    project and can in no way be taken to reflect the views of the European Union.
  </div>
  <div id="eu">
    <img src="/images/logo-eu.gif" alt="logo-eu" width="50" height="33"/ >
    <strong>"The Football for Development"</strong>
    <br />
    project is partly funded by European Commission, DG EuropeAid
  </div>
  <div id="copyright">
    &copy; <strong>Football for Development</strong> /
    <a href="mailto:david@inexsda.cz">david@inexsda.cz</a>
    <br />
    webdesign: <a href="http://www.tomato.cz" title="webdesign &amp; webcoding">TOMATO</a>
  </div>
</div>  
